<% provide(:title, "Home") %>

<% unless logged_in? %>
<div class="center jumbotron">
	<h1>ワリカンbooks</h1>
	<%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>

<%= render "shared/about" %>

<div class="center jumbotron">
  <h1>感動を、ワリカン</h1>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
<% else %>


<div class="center jumbotron">
	<h1>ワリカンbooks</h1>
	<%= link_to "企画を立てる", microposts_tatiage_path, class: "btn btn-lg btn-primary" %>
</div>


<div class="center jumbotron">
  <h1>本を探す</h1>
  <%= link_to "本を探す", microposts_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
<%= render "shared/about" %>


