<% provide(:title, "Home") %>

<div><%= render "shared/facebook" %>
</div>

<% unless logged_in? %>
<div class="center jumbotron">
	<h1>ワリカンbooks</h1>
	<%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>


	

</div> #%>

<% else %>
<div class="center jumbotron">
	<h1>ワリカンbooks</h1>
	<%= link_to "仲間を探す", microposts_tatiage_path, class: "btn btn-lg btn-primary" %>
</div>
/*イメージ画像を決めねば。＝＞　本に書き込む文化としてのマーク*/
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
<% end %>
<div class="center jumbotron">
	<h1>本を探す</h1>
	<%= link_to "検索画面", microposts_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section class="micropost_form">
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>

