<strong>
	ワリカンが成立しました！！
</strong>
<h1>
	メンバー同士で連絡を取り合って、濃い読書体験を！！
</h1>


<%# x = 0 %>
<%# y = @micropost.person_number.to_i %>
<%# while x < y do %>
<td color="red">
	<%#=	x += 1 %> 
</td>
<%# end %>

<div class="table-responsive">
	<table class="table" >
		<tr>
			<% @users.each do |user| %>	
			<td><%= user.name %></td>
			<td><%= user.email %></td>
		</tr>
		<% end %>
	</tr>
</table>
の順で回してください
</div>
<br>
<br>

<div>
	<% x = @micropost.person_number.to_i %>
	<% y = @micropost.person_number.to_i %>
	<% while y >= 2 do %>
	<% y -= 1%>
	<% z = x - y + 1 %>
	<% v = z - 1 %>
	<li><%= z %>人目の人は<%= v %>人目の人に
		<%= @micropost.bookprice.to_i *  y / x %>円を渡してください</li>
		<% end %>
	</div>
<br>
<br>
	<div>
		詳しくは<h1><%= link_to "企画のページ", micropost_url(id: @micropost.id) %></h1>をご覧ください。
	</div>

	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">よりよい読書体験を提供するため、ご意見を聞かせてください！</h3>
		</div>
		<div class="panel-body">
		不便な面、改善した方がいいと思われるところ、ここが面白い！というところがあれば、このメールアドレスにメールで教えてくだされば、京都大学内であれば、下さるアドバイスの質に応じて、いつかパンをおごらせていただきます！！ご協力ください！！
		warikanbooks@gmail.com
		</div>
	</div>

