<li id="<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span>
	<div class="table-responsive">
		<table class="table" >
			<tr>
				<td>タイトル</td>
				<td><%= micropost.bookname %></td>
			</tr>
			<tr>
				<td>エリア、大学名</td>
				<td><%= micropost.area %></td>
			</tr>
			<tr>
				<td>一冊の値段</td>
				<td><%= micropost.bookprice %></td>
			</tr>
			<tr>
				<td>一人当たりの値段</td>
				<div><% result = micropost.bookprice.to_i/micropost.person_number.to_i if micropost.person_number.to_i > 0 %></div>
				<td><%= result %></td>
			</tr>
			<tr>
				<td>ワリカン人数</td>
				<td><%= micropost.person_number %></td>
			</tr><tr>
			<td>書きこみ</td>
			<td><%= micropost.kakikomi %></td>
		</tr>
	</table>

	

	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">書きこみテーマ、その他本の状態など</h3>
  </div>
  <div class="panel-body"><%= micropost.content if micropost.content? %>
 </div>
</div>

	<% unless micropost.person_number.to_i  == micropost.likes_count.to_i + 1 %>　

	<strong>
		<% x = 1
		result = micropost.likes_count.to_i + 1%>
	</strong>
	<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">現在のメンバーは<strong><%= result %></strong>人です！</h3>
  </div>
  <div class="panel-body"><span>
		<div><% result =micropost.person_number.to_i - micropost.likes_count.to_i - 1%>
		</div>
		
	あと<%= result %>人です！参加してね</span>
 </div>
</div>
	
	<% unless current_user?(micropost.user) %>
<% if logged_in? %>
<% if micropost.like_user(current_user.id) %><%# いいねしてるか否か　%>
	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">あなたは参加しています！人数が集まるまで待ってください！</h3>
  </div>
  </div></div>

	
	<% else %>
	<%= button_to micropost_likes_path(micropost), id: "like-button", data: { confirm: "You sure?" } do %>
	<%= "参加する" %>
	<% end %>
	<% end %>
<%# いいねしてるか否か　%>
	
	<% else %><%# ログインしてなかったら　%>
<%= button_to "参加するにはサインアップしてください", signup_path,  class: "btn btn-primary"%>	<% end %><%# ログインしてるか　%>

<% end %>
	
</span>


<h><%= image_tag micropost.picture.url if micropost.picture? %></h>

<% if current_user?(micropost.user) %>
<% if micropost.likes_count == 0 %>

<%= link_to "delete", micropost, method: :delete,
data: { confirm: "You sure?" }  %>

<% end %>
<% end %>
</span>


<% else %><%#  メンバー揃っていなかったら %>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">終了しました！！</h3>
  </div>
  </div></div>

<% end %><%#  メンバー揃っていなかったら %>
<span class="timestamp">
Posted <%= time_ago_in_words(micropost.created_at) %> ago.
</li>