<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">検索</div>
	</div>
	<div class="panel-body">
		<%= search_form_for(@q, method: :get) do |f| %>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<%= f.label :area_cont %>
					<%= f.text_field :area_cont, class: "form-control", placeholder: "部分一致" %>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<%= f.label :bookname_cont %>
					<%= f.text_field :bookname_cont, class: "form-control", placeholder: "部分一致" %>
					<div>
					</div>
					<%= f.submit '検索', class: "btn btn-primary" %>
					<%= link_to 'クリア', url_for, class: "btn btn-default" %>
					<% end %>
					<div>
					</div>

					<hr />
					<ol class="microposts">
						<%= render @microposts %>
					</ol>
					<%= will_paginate @microposts %>


					　