<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">ワリカンの仕方</h3>
	</div>
	<br>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">ワリカン企画を検索</h3>
		</div>
		<div class="panel-body">
			大学名、本の名前を入力してください。
			大学名だけを入力して、面白そうな本を探すのもありです  </div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">条件を見て、面白そうな本、企画を選ぶ</h3>
			</div>
			<div class="panel-body">
				ラインあり、書きこみありで、
				<h>1.ビジネス書などの要点を素早く掴む。</h> 
				<h>２.自分では見つけられなかったであろう”深み”にたどり着ける</h>
			</div>
		</div>

		
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">回ってくる順番は「企画者＝＞参加者（参加した順）</h3>
			</div>
			<div class="panel-body">
				一人当たりの日数、書きこみの有無と合わせて、よく考えて参加しましょう
				<strong><li>
					書きこみありの場合、後になれば、その分だけ得られる情報は増えます
				</li></strong>
				<strong><li>
					順番が早いほど、書きこみに縛られずに読めます
				</li></strong>
				<li>本の所有権は最後に参加した人に渡ります
				</li>
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">満足のいく企画がなければ、自分でワリカン企画を立ち上げましょう</h3>
		</div>
		<div class="panel-body">
		<%= link_to "企画を立ち上げる", microposts_tatiage_path, class: "btn btn-info"%>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">検索</div>
		</div>

		<div class="panel-body">
			<%= search_form_for(@q, method: :get) do |f| %>	
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<%= f.label :area_cont,"大学名、キャンパス名などを入力してください" %>
						<%= f.text_field :area_cont, class: "form-control", placeholder: "部分一致" %>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<%= f.label :bookname_cont, "本の名前を入力してください（任意）" %>
						<%= f.text_field :bookname_cont, class: "form-control", placeholder: "部分一致検索" %>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">					
						<%= f.submit '検索', class: "btn btn-primary" %>
						<%= link_to 'クリア', url_for, class: "btn btn-default" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<ol class="microposts">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">企画一覧（検索結果）</h3>
						</div>
					</div>
					<%= render @microposts %>
				</ol>
				<%= will_paginate @microposts %>
			</div>
		</div>
	</div>

	　