<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> |Warikan</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render "layouts/shim" %>
</head>

<body>
     <%= render 'layouts/header' %>

  <div class="container">
  <br>
  <br>
  <% flash.each do |message_type, message| %>
     <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>

      <% end %>
<br>
<br>
<div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">現在、ユーザー方の意見を聞きながらサービスを改良しようと努めています！！</h3>
    </div>
    <div class="panel-body">
    不便な面、改善した方がいいと思われるところ、ここが面白い！というところがあれば、このメールアドレスにメールで教えてくだされば、京都大学内であれば、下さるアドバイスの質に応じて、菓子パンをおごらせていただきます！！ご協力ください！！
    warikanbooks@gmail.com
    </div>
  </div>

    <%= yield %>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>

  </div>
</body>
</html>
