<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> |Warikan</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render "layouts/shim" %>
</head>

<meta name="viewport"
content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link media="only screen and (max-device-width:480px)"
href="smart.css" type="text/css" rel="stylesheet" />
<link media="screen and (min-device-width:481px)" href="design.css"
type="text/css" rel="stylesheet" />
<!--[if IE]>
<link href="design.css" type="text/css" rel="stylesheet" />
<![endif]-->

<link media="only screen and (max-device-width:480px)" href="smart.css" type="text/css" rel="stylesheet" />
<link media="screen and (min-device-width:481px)" href="styles.css" type="text/css" rel="stylesheet" />

<body>
 <%= render 'layouts/header' %>

 <div class="container">
  <br>
  <br>
  <br>
  <br>

  <% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>

  <% end %>
  <br>
  <br>


  <%= yield %>

  <% unless logged_in? %>
  <div class="center jumbotron">
    <h1>ワリカンbooks</h1>
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <% end %>
  <div>
    <strong>
      <%= link_to "ワリカン成立後の流れ", about_path %>
    </strong>
  </div>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>

</div>
</body>
</html>
